<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'main3.css' %}">
</head>
<body>

<h1 class="a2">Add</h1>
    <br>

<div class="a1">
<form method = "post" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.as_p}}
    <a href="{% url 'get_all' %}"><button type="submit">Save</button></a>
</form>
</div>
</body>
</html>