<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'index11.css' %}">
</head>
<body>

<div class="a1">
    <h2></h2>
    <a href="{% url 'get_all' %}"><h3>Cars</h3></a>
    <a href="{% url 'get_company' %}"><h3>Company</h3></a>

</div>

<div class="aa2">
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa molestiae dolorem ullam fugit quos voluptates ducimus, iusto iure laboriosam nostrum magni adipisci quaerat velit! Molestias ipsam provident est sit. Quod!
Temporibus rem iste consequatur recusandae nisi beatae obcaecati aliquam. Eaque aut suscipit, minima maiores consequuntur iusto veritatis distinctio. Est exercitationem pariatur aut doloremque. Tempora accusantium cumque, enim excepturi assumenda sapiente.
Maiores, fugit harum quas reiciendis dolores iste, natus recusandae dolore dicta numquam itaque voluptates eos doloremque delectus ipsum pariatur consequuntur saepe amet. Culpa blanditiis est ut voluptas aliquam ab odio?
Magni earum repudiandae laudantium ipsum dolores totam officia quas aspernatur, veritatis natus repellendus aliquid illo assumenda iste omnis soluta corrupti itaque tenetur perferendis accusamus molestias commodi. Quasi architecto rerum laboriosam.
Enim ut quo totam, amet eaque nobis officiis dolorem provident debitis maxime iusto temporibus? Eum quam, ratione quod excepturi molestiae temporibus! Quia libero, reiciendis repudiandae atque in quasi ab quam?</p>

</div>




</body>
</html>