<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'main1.css' %}">
</head>
<body>

<div class="a1">
    <h1>Cars</h1>
    <a href="{% url 'add' %}"><h3>Add</h3></a>
    <a href="{% url 'get_aal' %}"><h3>Menu</h3></a>
</div>


    <div class="container">
        {% for task in tasks %}
           <a href="http://127.0.0.1:8000/get_by_id/{{task.id}}"> <div class="card">
               <img src="{{task.imeges}}" alt="">
                    <h3>Name: {{task.name}}</h3>
                    <h4>Due date: {{task.due_date}}</h4>
                    <p>Status: {{task.status}}</p>
                    <h3>Company: {{task.company}}</h3>
                    <h3>Description: {{task.description}}</h3>
                    <p>User: {{task.user}}</p>

            </div></a>
        {% endfor %}
    </div>
</body>
</html>