<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'main2.css' %}">
</head>
<body>
    <div class="container">
            <div class="card">
                    <img src="{{tasks.imeges.url}}" alt="">
                    <h3>Name: {{tasks.name}}</h3>
            </div>
        </div>
        <div class="a111">
            <a style="width: 50 px; height: 30px;margin-top: 50px" href="{% url 'get_company' %}">Menu</a>
            <a href="http://127.0.0.1:8000/delete_company/{{tasks.id}}">Delete</a>
            <a href="http://127.0.0.1:8000/update_company/{{tasks.id}}">Update</a>
    </div>
</body>
</html>